<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>edit</title>
<link rel="stylesheet" href="css/edit.css">
</head>
<body>
	<header class="header_contents">
		<p class="header_text">メモ帳</p>
	</header>
	<div class="wrapper">
		<div class="left_contents">
			<form method="get" th:action="@{/create}">
				<button class="newcreat_btn" type="submit">新規作成</button>
			</form>
			<div class="menu">
				<a class="menu_btn" href="/home">一覧</a>
				<a class="menu_btn" herf="#">ユーザー情報</a>
			</div> 
			<p class="copyright">©2024</p>
		</div>
		<div class="right_contents" th:each="note : ${notes}" th:object="${note}">
			<p class="right_title">編集</p>
			<form method="post" th:action="@{/update}">
				<p class="input_label">タイトル</p>
				<input class="input_title" type="text" name="title" th:value="*{title}" />
				<p class="input_label">本文</p>
				<textarea class="input_body" name="content" th:text="*{content}"></textarea>
				<p class="input_label">カテゴリー</p>
				<select class="select_category" name="categoryId" >
					<option 
						th:each="c : ${categories}" 
						th:value="${c.id}"
						th:text="${c.name}"
						th:selected="${note.category != null and c.id == note.category.id}"></option>
				</select>
				<input type="hidden" name="id" th:value="*{id}" />
				<input type="hidden" name="_method" value="put" />
				<button class="update_btn" type="submit">更新</button>
			</form>
		</div>
	</div>
</body>
</html>
